In [2]:
import pandas as pd
import matplotlib.pyplot as pyplot
import math
import scipy as scipy
import numpy as np
from varname import nameof
import io
from src.helper_functions import *
from src.lookups import *

In [37]:
df = import_all(recession_years)
df = add_qtrid(df)
df = add_dupecheck(df)
df = add_yearcheck(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149772 entries, 0 to 18343
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   industry_code        149772 non-null  int32
 1   agglvl_code          149772 non-null  object
 2   year                 149772 non-null  int64
 3   qtr                  149772 non-null  int64
 4   industry_title       149772 non-null  object
 5   agglvl_title         149772 non-null  object
 6   qtrly_estabs_count   149772 non-null  int64
 7   month1_emplvl        149772 non-null  int64
 8   month2_emplvl        149772 non-null  int64
 9   month3_emplvl        149772 non-null  int64
 10  total_qtrly_wages    149772 non-null  int64
 11  qtrly_contributions  149772 non-null  int64
 12  avg_wkly_wage        149772 non-null  int64
 13  qtrid                149772 non-null  float64
 14  dupecheck            149772 non-null  float64
 15  yearcheck            149772 non-null  int64
dtypes: float64(2), int32(1), int64(10), object(3)
memory usage: 18.9+ MB

In [30]:
def add_dupecheck(df):
    df['industry_code'] = df['industry_code'].str.replace('-','').astype('int32')
    #df['industry_code'] = df['industry_code'].map(lambda x: x.strip('-'))
    #df.astype({'industry_code':'int32'}).dtypes
    df['dupecheck'] = ((df['industry_code']) * 10000)+ df['qtrid']
    return df

In [35]:
def add_yearcheck(df):
    df['yearcheck'] = ((df['industry_code']) * 10000)+ df['year']
    return df

In [11]:
print(int('5'))

5

In [48]:
df_employment = df.pivot_table(columns = 'qtrid', values = 'month3_emplvl', index = 'industry_code', aggfunc = np.max)
df_employment = df_employment.pivot_table()
df_employment.head()

KeyError: 'None of [None] are in the columns'

In [41]:
df_establishment = df.pivot_table(columns = 'qtrid', values = 'qtrly_estabs_count', index = 'industry_code', aggfunc = np.max)
df_establishment.head()

qtrid,2007.1,2007.2,2007.3,2007.4,2008.1,2008.2,2008.3,2008.4,2009.1,2009.2,...,2012.3,2012.4,2013.1,2013.2,2013.3,2013.4,2014.1,2014.2,2014.3,2014.4
industry_code,,,,,,,,,,,,,,,,,,,,,
10,8862947.0,8936111.0,9014197.0,9074333.0,9028884.0,9059689.0,9108151.0,9131473.0,8967310.0,8984662.0,...,9128346.0,9173740.0,9107736.0,9178547.0,9241547.0,9295722.0,9288442.0,9313909.0,9380061.0,9463005.0
11,95145.0,95293.0,95841.0,96145.0,95096.0,95039.0,95491.0,95756.0,94530.0,94770.0,...,97049.0,97593.0,97172.0,97775.0,98667.0,99294.0,99327.0,99947.0,100748.0,101293.0
21,28857.0,29240.0,29609.0,29969.0,30114.0,30536.0,30945.0,31210.0,31148.0,31124.0,...,34185.0,34455.0,34557.0,34832.0,35121.0,35300.0,35515.0,35730.0,36033.0,36346.0
22,16162.0,16220.0,16239.0,16270.0,16278.0,16331.0,16463.0,16406.0,16483.0,16535.0,...,17092.0,17128.0,17131.0,17225.0,17292.0,17380.0,17381.0,17376.0,17447.0,17471.0
23,883409.0,890873.0,896200.0,893647.0,884900.0,885107.0,882760.0,874822.0,841895.0,834796.0,...,747553.0,747746.0,738056.0,741539.0,747132.0,747079.0,741584.0,750266.0,755520.0,758913.0

In [43]:
df_wages = df.pivot_table(columns = 'qtrid', values = 'avg_wkly_wage', index = 'industry_code', aggfunc = np.min)
df_wages.head()

qtrid,2007.1,2007.2,2007.3,2007.4,2008.1,2008.2,2008.3,2008.4,2009.1,2009.2,...,2012.3,2012.4,2013.1,2013.2,2013.3,2013.4,2014.1,2014.2,2014.3,2014.4
industry_code,,,,,,,,,,,,,,,,,,,,,
10,769.0,804.0,769.0,795.0,794.0,827.0,799.0,823.0,807.0,822.0,...,839.0,853.0,855.0,891.0,852.0,871.0,870.0,908.0,872.0,899.0
11,0.0,0.0,0.0,0.0,0.0,0.0,490.0,537.0,482.0,483.0,...,533.0,606.0,543.0,545.0,555.0,622.0,554.0,565.0,580.0,654.0
21,0.0,0.0,0.0,0.0,0.0,0.0,921.0,948.0,740.0,768.0,...,880.0,959.0,870.0,885.0,919.0,971.0,938.0,937.0,968.0,1049.0
22,1066.0,1051.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1191.0,0.0,0.0,0.0,0.0,0.0,0.0,1242.0,0.0,0.0
23,796.0,766.0,767.0,816.0,829.0,793.0,802.0,855.0,840.0,808.0,...,844.0,886.0,906.0,868.0,863.0,916.0,937.0,891.0,897.0,953.0

In [ ]:
df.set_index('industry_code').join(df_pivoted)